footer.text-success.bg-light.px-5.pb-2.pt-4
  .container-fluid.d-flex.justify-content-between
    p
      | All the info and images come from the
      a.text-success.text-decoration-underline(href='https://spoonacular.com/food-api') spoonacular
      |  api!
    p.inline Published 2021 by Aaron Cummins
script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
script(src='https://kit.fontawesome.com/be22b6ee34.js' crossorigin='anonymous')
script(src='/javascripts/main.js')
